{
  "app_store_apps": [
    {
      "app_id": "1194408342",
      "country": "us",
      "pages": 0
    },
    {
      "app_id": "284882215",
      "country": "kr",
      "pages": 0
    },
    {
      "app_id": "123456789",
      "country": "jp",
      "pages": 0
    }
  ],
  "play_store_apps": [
    {
      "app_id": "com.whatsapp",
      "country": "us",
      "pages": 0
    },
    {
      "app_id": "com.instagram.android",
      "country": "kr",
      "pages": 0
    },
    {
      "app_id": "com.spotify.music",
      "country": "jp",
      "pages": 0
    }
  ]
} 